In [1]:
import pandas as pd
import os
from IPython.display import display
import sys
# from tabulate import tabulate

pd.set_option('mode.chained_assignment', None)

In [2]:
initial_amount = 500
months_to_distribute_initial_amount = 5
term_months = 10
term_holidays = 2
credit_rate_yearly = 0.12
total_time_in_months = 24 #120

credit_rate_monthly = credit_rate_yearly/12
initial_payment = initial_amount/months_to_distribute_initial_amount

In [3]:
cl_dct = {}
col_names_basic = ["Term","Amount_left"]
col_names_clients = ["Paid","Return_principal","Return_interest"]

cl_data_ini = []
for i in range(total_time_in_months+1):
  cl_data_ini.append(("m%03d"%(i+1),None))
df = pd.DataFrame(cl_data_ini,columns=col_names_basic)


amount_left = initial_amount
amount_available = [amount_left]

for clt in range(total_time_in_months):#-term_months):
  client_number = clt+1
  
  cl_data_ini = []
  if client_number <= total_time_in_months-term_months+1:
    for i in range(total_time_in_months+1):
      if i+1 < client_number:
        cl_data_ini.append(("m%03d"%(i+1),None,0.0,0.0,0.0))
      elif i+1 == client_number:
        payment = initial_payment if initial_payment <= amount_left else amount_left
        amount_left -= payment
        return_principal = payment/(term_months-term_holidays)
        principal_left = payment
        cl_data_ini.append(("m%03d"%(i+1),amount_left,payment,0.0,0.0))

      elif i < client_number + term_holidays:
        cl_data_ini.append(("m%03d"%(i+1),amount_left,payment,0.0,payment*credit_rate_monthly))
      elif i < client_number + term_months:
        cl_data_ini.append(("m%03d"%(i+1),None,0.0,return_principal,payment*credit_rate_monthly))
      else:
        cl_data_ini.append(("m%03d"%(i+1),None,0.0,0.0,0.0))

    df0 = pd.DataFrame(cl_data_ini,columns=col_names_basic + list(map(lambda x:x+"_%03d"%client_number,col_names_clients)))  
    df0[col_names_basic[-1]][:client_number-1] = df[col_names_basic[-1]][:client_number-1]
    df = df.drop(col_names_basic[-1],axis=1,).merge(df0,on=col_names_basic[0],sort=True)

    cols = list(df)
    cols.insert(1,cols.pop(cols.index(col_names_basic[-1])))
    df = df[cols]
    
    amount_left += df.loc[client_number,[col for col in df if col.startswith(col_names_clients[1])]].sum()
  else:
    df[col_names_basic[-1]][client_number-1] = amount_left  
    amount_left += df.loc[client_number,[col for col in df if col.startswith(col_names_clients[1])]].sum()
    
    df[col_names_basic[-1]][client_number] = amount_left
    
  amount_available.append(amount_left)
#   print("month_%02d: %0.2f$"%(client_number+1,amount_left))
  
# display(df)
df["Total_return_interest"] = df[[col for col in df if col.startswith(col_names_clients[2])]].sum(axis=1)
df[["Total_cumul_return_interest"]] = df[["Total_return_interest"]].cumsum()
df["Amount_available"] = amount_available

df_result = df[["Term"]+[col for col in df if col.startswith(("Amount","Total_"))]]
df_result = df_result[['Term','Amount_available', 'Amount_left', 'Total_return_interest', 'Total_cumul_return_interest']]
df_result[df_result.columns[1:]] = df_result[df_result.columns[1:]].applymap('{:,.02f}'.format)

display(df_result)

,Term,Amount_available,Amount_left,Total_return_interest,Total_cumul_return_interest
0,m001,500.00,400.00,0.00,0.00
1,m002,400.00,300.00,1.00,1.00
2,m003,300.00,200.00,2.00,3.00
3,m004,212.50,112.50,3.00,6.00
4,m005,137.50,37.50,4.00,10.00
5,m006,75.00,0.00,5.00,15.00
6,m007,50.00,0.00,5.75,20.75
7,m008,62.50,0.00,6.25,27.00
8,m009,71.88,0.00,6.88,33.88
9,m010,78.12,0.00,7.59,41.47
10,m011,85.94,0.00,8.38,49.84
11,m012,82.42,0.00,8.23,58.08
12,m013,79.69,0.00,8.06,66.14
13,m014,77.93,0.00,7.86,73.99
14,m015,75.73,0.00,7.63,81.63
15,m016,73.19,73.19,7.39,89.02
16,m017,146.75,146.75,6.64,95.66
17,m018,223.53,223.53,6.14,101.80
18,m019,292.49,292.49,5.52,107.32
19,m020,352.47,352.47,4.80,112.12
20,m021,402.69,402.69,4.02,116.14
21,m022,442.16,442.16,3.16,119.29
22,m023,471.33,471.33,2.33,121.63
23,m024,490.53,490.53,1.54,123.16
24,m025,500.00,500.00,0.76,123.92

In [4]:
# Calculation explanation
display(df)

,Term,Amount_left,Paid_001,Return_principal_001,Return_interest_001,Paid_002,Return_principal_002,Return_interest_002,Paid_003,Return_principal_003,...,Return_interest_013,Paid_014,Return_principal_014,Return_interest_014,Paid_015,Return_principal_015,Return_interest_015,Total_return_interest,Total_cumul_return_interest,Amount_available
0,m001,400,100.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,500.000000
1,m002,300,100.0,0.0,1.0,100.0,0.0,0.0,0.0,0.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,400.000000
2,m003,200,100.0,0.0,1.0,100.0,0.0,1.0,100.0,0.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2.000000,3.000000,300.000000
3,m004,112.5,0.0,12.5,1.0,100.0,0.0,1.0,100.0,0.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3.000000,6.000000,212.500000
4,m005,37.5,0.0,12.5,1.0,0.0,12.5,1.0,100.0,0.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,4.000000,10.000000,137.500000
5,m006,0,0.0,12.5,1.0,0.0,12.5,1.0,0.0,12.5,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,5.000000,15.000000,75.000000
6,m007,0,0.0,12.5,1.0,0.0,12.5,1.0,0.0,12.5,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,5.750000,20.750000,50.000000
7,m008,0,0.0,12.5,1.0,0.0,12.5,1.0,0.0,12.5,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,6.250000,27.000000,62.500000
8,m009,0,0.0,12.5,1.0,0.0,12.5,1.0,0.0,12.5,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,6.875000,33.875000,71.875000
9,m010,0,0.0,12.5,1.0,0.0,12.5,1.0,0.0,12.5,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,7.593750,41.468750,78.125000
10,m011,0,0.0,12.5,1.0,0.0,12.5,1.0,0.0,12.5,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,8.375000,49.843750,85.937500
11,m012,0,0.0,0.0,0.0,0.0,12.5,1.0,0.0,12.5,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,8.234375,58.078125,82.421875
12,m013,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,12.5,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,8.058594,66.136719,79.687500
13,m014,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.796875,77.929688,0.000000,0.000000,0.000000,0.000000,0.000000,7.855469,73.992188,77.929688
14,m015,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.796875,77.929688,0.000000,0.779297,75.732422,0.000000,0.000000,7.634766,81.626953,75.732422
15,m016,73.1934,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.796875,77.929688,0.000000,0.779297,75.732422,0.000000,0.757324,7.392090,89.019043,73.193359
16,m017,146.753,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.796875,0.000000,9.741211,0.779297,75.732422,0.000000,0.757324,6.642090,95.661133,146.752930
17,m018,223.529,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.796875,0.000000,9.741211,0.779297,0.000000,9.466553,0.757324,6.142090,101.803223,223.529053
18,m019,292.493,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.796875,0.000000,9.741211,0.779297,0.000000,9.466553,0.757324,5.517090,107.320312,292.492676
19,m020,352.472,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.796875,0.000000,9.741211,0.779297,0.000000,9.466553,0.757324,4.798340,112.118652,352.471924
20,m021,402.686,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.796875,0.000000,9.741211,0.779297,0.000000,9.466553,0.757324,4.017090,116.135742,402.685547
21,m022,442.157,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.796875,0.000000,9.741211,0.779297,0.000000,9.466553,0.757324,3.157715,119.293457,442.156982
22,m023,471.326,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.796875,0.000000,9.741211,0.779297,0.000000,9.466553,0.757324,2.333496,121.626953,471.325684
23,m024,490.533,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.000000,9.741211,0.779297,0.000000,9.466553,0.757324,1.536621,123.163574,490.533447
24,m025,500,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,9.466553,0.757324,0.757324,123.920898,500.000000