In [1]:
import pandas as pd
import os
from IPython.display import display
import sys
from tabulate import tabulate

pd.set_option('mode.chained_assignment', None)

In [9]:
initial_amount = 300
months_to_distribute_initial_amount = 3
term_months = 10
credit_rate_yearly = 0.12
total_time_in_months = 120
total_time_in_months_test = total_time_in_months#24

credit_rate_monthly = credit_rate_yearly/12
initial_payment = initial_amount/months_to_distribute_initial_amount

In [12]:
cl_dct = {}
col_names_basic = ["Term","Amount_left"]
col_names_clients = ["Paid","Return_principal","Return_interest"]

cl_data_ini = []
for i in range(total_time_in_months_test+1):
  cl_data_ini.append(("m%03d"%(i+1),None))
df = pd.DataFrame(cl_data_ini,columns=col_names_basic)

amount_left = initial_amount
amount_available = [amount_left]
# print("Available amount in the beginning of month:")
# print("month_%02d: %0.2f$"%(1,amount_left))


for clt in range(total_time_in_months_test):#-term_months):
  client_number = clt+1
  
  cl_data_ini = []
  if client_number <= total_time_in_months_test-term_months+1:
    for i in range(total_time_in_months_test+1):
      if i+1 < client_number:
        cl_data_ini.append(("m%03d"%(i+1),None,0.0,0.0,0.0))
      elif i+1 == client_number:
        payment = initial_payment if initial_payment <= amount_left else amount_left
        amount_left -= payment
        return_principal = payment/term_months
        principal_left = payment
        cl_data_ini.append(("m%03d"%(i+1),amount_left,payment,0.0,0.0))

      elif i < term_months + client_number:
        cl_data_ini.append(("m%03d"%(i+1),None,0.0,return_principal,principal_left*credit_rate_monthly))
        principal_left -= return_principal
      else:
        cl_data_ini.append(("m%03d"%(i+1),None,0.0,0.0,0.0))

    df0 = pd.DataFrame(cl_data_ini,columns=col_names_basic + list(map(lambda x:x+"_%03d"%client_number,col_names_clients)))  
    df0[col_names_basic[-1]][:client_number-1] = df[col_names_basic[-1]][:client_number-1]
    df = df.drop(col_names_basic[-1],axis=1,).merge(df0,on=col_names_basic[0],sort=True)

    cols = list(df)
    cols.insert(1,cols.pop(cols.index(col_names_basic[-1])))
    df = df[cols]
    
    amount_left += df.loc[client_number,[col for col in df if col.startswith(col_names_clients[1])]].sum()
  else:
    df[col_names_basic[-1]][client_number-1] = amount_left  
    amount_left += df.loc[client_number,[col for col in df if col.startswith(col_names_clients[1])]].sum()
    
    df[col_names_basic[-1]][client_number] = amount_left
    
  amount_available.append(amount_left)
#   print("month_%02d: %0.2f$"%(client_number+1,amount_left))
  
# display(df)
df["Total_return_interest"] = df[[col for col in df if col.startswith(col_names_clients[2])]].sum(axis=1)
df[["Total_cumul_return_interest"]] = df[["Total_return_interest"]].cumsum()
df["Amount_available"] = amount_available

df_result = df[["Term"]+[col for col in df if col.startswith(("Amount","Total_"))]]
df_result = df_result[['Term','Amount_available', 'Amount_left', 'Total_return_interest', 'Total_cumul_return_interest']]

In [13]:
# print( tabulate(df_result, headers='keys', tablefmt='psql') )
display(df_result)

,Term,Amount_available,Amount_left,Total_return_interest,Total_cumul_return_interest
0,m001,300.000000,200,0.000000,0.000000
1,m002,210.000000,110,1.000000,1.000000
2,m003,130.000000,30,1.900000,2.900000
3,m004,60.000000,0,2.700000,5.600000
4,m005,36.000000,0,3.000000,8.600000
5,m006,39.600000,0,3.000000,11.600000
6,m007,43.560000,0,3.000000,14.600000
7,m008,47.916000,0,3.000000,17.600000
8,m009,52.707600,0,3.000000,20.600000
9,m010,57.978360,0,3.000000,23.600000
10,m011,63.776196,0,3.000000,26.600000
11,m012,60.153816,0,3.000000,29.600000
12,m013,56.169197,0,3.000000,32.600000
13,m014,51.786117,0,3.000000,35.600000
14,m015,50.964729,0,3.000000,38.600000
15,m016,52.461201,0,3.000000,41.600000
16,m017,53.747322,0,3.000000,44.600000
17,m018,54.766054,0,3.000000,47.600000
18,m019,55.451059,0,3.000000,50.600000
19,m020,55.725405,0,3.000000,53.600000
20,m021,55.500109,0,3.000000,56.600000
21,m022,54.672501,0,3.000000,59.600000
22,m023,54.124369,0,3.000000,62.600000
23,m024,53.919887,0,3.000000,65.600000
24,m025,54.133264,0,3.000000,68.600000
25,m026,54.450117,0,3.000000,71.600000
26,m027,54.649009,0,3.000000,74.600000
27,m028,54.739177,0,3.000000,77.600000
28,m029,54.736490,0,3.000000,80.600000
29,m030,54.665033,0,3.000000,83.600000
...,...,...,...,...,...
91,m092,54.545455,0,3.000000,269.600000
92,m093,54.545454,0,3.000000,272.600000
93,m094,54.545454,0,3.000000,275.600000
94,m095,54.545454,0,3.000000,278.600000
95,m096,54.545454,0,3.000000,281.600000
96,m097,54.545455,0,3.000000,284.600000
97,m098,54.545455,0,3.000000,287.600000
98,m099,54.545455,0,3.000000,290.600000
99,m100,54.545455,0,3.000000,293.600000
100,m101,54.545455,0,3.000000,296.600000
101,m102,54.545455,0,3.000000,299.600000
102,m103,54.545454,0,3.000000,302.600000
103,m104,54.545454,0,3.000000,305.600000
104,m105,54.545455,0,3.000000,308.600000
105,m106,54.545455,0,3.000000,311.600000
106,m107,54.545455,0,3.000000,314.600000
107,m108,54.545455,0,3.000000,317.600000
108,m109,54.545455,0,3.000000,320.600000
109,m110,54.545455,0,3.000000,323.600000
110,m111,54.545455,0,3.000000,326.600000
111,m112,54.545455,54.5455,3.000000,329.600000
112,m113,103.636364,103.636,2.454545,332.054545
113,m114,147.272727,147.273,1.963636,334.018182
114,m115,185.454545,185.455,1.527273,335.545455
115,m116,218.181818,218.182,1.145455,336.690909
116,m117,245.454545,245.455,0.818182,337.509091
117,m118,267.272727,267.273,0.545455,338.054545
118,m119,283.636364,283.636,0.327273,338.381818
119,m120,294.545455,294.545,0.163636,338.545455
120,m121,300.000000,300,0.054545,338.600000