In [121]:
import pandas as pd
import os
from IPython.display import display
import sys
from tabulate import tabulate

pd.set_option('mode.chained_assignment', None)

In [122]:
initial_amount = 300
months_to_distribute_initial_amount = 3
term_months = 10
credit_rate_yearly = 0.12
total_time_in_months = 120
total_time_in_months_test = total_time_in_months#total_time_in_months#24

credit_rate_monthly = credit_rate_yearly/12
initial_payment = initial_amount/months_to_distribute_initial_amount

In [123]:
cl_dct = {}
col_names_basic = ["Term","Amount_left"]
col_names_clients = ["Paid","Return_principal","Return_interest"]

cl_data_ini = []
for i in range(total_time_in_months_test+1):
  cl_data_ini.append(("m%03d"%(i+1),None))
df = pd.DataFrame(cl_data_ini,columns=col_names_basic)

amount_left = initial_amount
amount_available = [amount_left]
# print("Available amount in the beginning of month:")
# print("month_%02d: %0.2f$"%(1,amount_left))


for clt in range(total_time_in_months_test):#-term_months):
  client_number = clt+1
  
  cl_data_ini = []
  if client_number <= total_time_in_months_test-term_months+1:
    for i in range(total_time_in_months_test+1):
      if i+1 < client_number:
        cl_data_ini.append(("m%03d"%(i+1),None,0.0,0.0,0.0))
      elif i+1 == client_number:
        payment = initial_payment if initial_payment <= amount_left else amount_left
        amount_left -= payment
        return_principal = payment/term_months
        principal_left = payment
        cl_data_ini.append(("m%03d"%(i+1),amount_left,payment,0.0,0.0))

      elif i < term_months + client_number:
        cl_data_ini.append(("m%03d"%(i+1),None,0.0,return_principal,principal_left*credit_rate_monthly))
        principal_left -= 0#return_principal
      else:
        cl_data_ini.append(("m%03d"%(i+1),None,0.0,0.0,0.0))

    df0 = pd.DataFrame(cl_data_ini,columns=col_names_basic + list(map(lambda x:x+"_%03d"%client_number,col_names_clients)))  
    df0[col_names_basic[-1]][:client_number-1] = df[col_names_basic[-1]][:client_number-1]
    df = df.drop(col_names_basic[-1],axis=1,).merge(df0,on=col_names_basic[0],sort=True)

    cols = list(df)
    cols.insert(1,cols.pop(cols.index(col_names_basic[-1])))
    df = df[cols]
    
    amount_left += df.loc[client_number,[col for col in df if col.startswith(col_names_clients[1])]].sum()
  else:
    df[col_names_basic[-1]][client_number-1] = amount_left  
    amount_left += df.loc[client_number,[col for col in df if col.startswith(col_names_clients[1])]].sum()
    
    df[col_names_basic[-1]][client_number] = amount_left
    
  amount_available.append(amount_left)
#   print("month_%02d: %0.2f$"%(client_number+1,amount_left))
  
# display(df)
df["Total_return_interest"] = df[[col for col in df if col.startswith(col_names_clients[2])]].sum(axis=1)
df[["Total_cumul_return_interest"]] = df[["Total_return_interest"]].cumsum()
df["Amount_available"] = amount_available

df_result = df[["Term"]+[col for col in df if col.startswith(("Amount","Total_"))]]
df_result = df_result[['Term','Amount_available', 'Amount_left', 'Total_return_interest', 'Total_cumul_return_interest']]
df_result[df_result.columns[1:]] = df_result[df_result.columns[1:]].applymap('{:,.02f}'.format)

In [124]:
# print( tabulate(df_result, headers='keys', tablefmt='psql') )

display(df_result)

,Term,Amount_available,Amount_left,Total_return_interest,Total_cumul_return_interest
0,m001,300.00,200.00,0.00,0.00
1,m002,210.00,110.00,1.00,1.00
2,m003,130.00,30.00,2.00,3.00
3,m004,60.00,0.00,3.00,6.00
4,m005,36.00,0.00,3.60,9.60
5,m006,39.60,0.00,3.96,13.56
6,m007,43.56,0.00,4.36,17.92
7,m008,47.92,0.00,4.79,22.71
8,m009,52.71,0.00,5.27,27.98
9,m010,57.98,0.00,5.80,33.78
10,m011,63.78,0.00,6.38,40.15
11,m012,60.15,0.00,6.02,46.17
12,m013,56.17,0.00,5.62,51.79
13,m014,51.79,0.00,5.18,56.96
14,m015,50.96,0.00,5.10,62.06
15,m016,52.46,0.00,5.25,67.31
16,m017,53.75,0.00,5.37,72.68
17,m018,54.77,0.00,5.48,78.16
18,m019,55.45,0.00,5.55,83.70
19,m020,55.73,0.00,5.57,89.28
20,m021,55.50,0.00,5.55,94.83
21,m022,54.67,0.00,5.47,100.29
22,m023,54.12,0.00,5.41,105.71
23,m024,53.92,0.00,5.39,111.10
24,m025,54.13,0.00,5.41,116.51
25,m026,54.45,0.00,5.45,121.96
26,m027,54.65,0.00,5.46,127.42
27,m028,54.74,0.00,5.47,132.90
28,m029,54.74,0.00,5.47,138.37
29,m030,54.67,0.00,5.47,143.84
...,...,...,...,...,...
91,m092,54.55,0.00,5.45,482.00
92,m093,54.55,0.00,5.45,487.45
93,m094,54.55,0.00,5.45,492.91
94,m095,54.55,0.00,5.45,498.36
95,m096,54.55,0.00,5.45,503.82
96,m097,54.55,0.00,5.45,509.27
97,m098,54.55,0.00,5.45,514.73
98,m099,54.55,0.00,5.45,520.18
99,m100,54.55,0.00,5.45,525.64
100,m101,54.55,0.00,5.45,531.09
101,m102,54.55,0.00,5.45,536.55
102,m103,54.55,0.00,5.45,542.00
103,m104,54.55,0.00,5.45,547.45
104,m105,54.55,0.00,5.45,552.91
105,m106,54.55,0.00,5.45,558.36
106,m107,54.55,0.00,5.45,563.82
107,m108,54.55,0.00,5.45,569.27
108,m109,54.55,0.00,5.45,574.73
109,m110,54.55,0.00,5.45,580.18
110,m111,54.55,0.00,5.45,585.64
111,m112,54.55,54.55,5.45,591.09
112,m113,103.64,103.64,4.91,596.00
113,m114,147.27,147.27,4.36,600.36
114,m115,185.45,185.45,3.82,604.18
115,m116,218.18,218.18,3.27,607.45
116,m117,245.45,245.45,2.73,610.18
117,m118,267.27,267.27,2.18,612.36
118,m119,283.64,283.64,1.64,614.00
119,m120,294.55,294.55,1.09,615.09
120,m121,300.00,300.00,0.55,615.64